{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product list</h1>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kodproduktu</th>
                <th>Cena</th>
                <th>Nazwakampanii</th>
                <th>Kodmarketingowy</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.nazwa }}</a></td>
                <td>{{ entity.kodProduktu }}</td>
                <td>{{ entity.cena }}</td>
                <td>{{ entity.nazwaKampanii }}</td>
                <td>{{ entity.kodMarketingowy }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('product_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">show</a>
                    </li>
                    <li>
                        <a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
        <li>
            <a href="{{ path('product_new') }}" class="btn btn-sm btn-primary">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
