{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Export list</h1>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa pliku</th>
                <th>Utworzono</th>
                <th>Czy ukończono</th>
                <th>Id</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('export_show', { 'id': entity.id }) }}">{{ entity.filename }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.isCompleted %}<i class="glyphicon glyphicon-check"></i>{% else %}<i class="glyphicon glyphicon-exclamation-sign"></i>{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('export_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">Pokaż szczegóły</a>
                        <a href="{{ path('targeo_export_export', { 'id': entity.id }) }}" class="btn btn-default btn-sm">Pobierz</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
