{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block file_widget %}
{% spaceless %}
    {% set type = type|default('url') %}

    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Przeglądaj {{ block('form_widget_simple') }}
            </span>
        </span>
        <input type="text" class="form-control" readonly="">
    </div>

{% endspaceless %}
{% endblock file_widget %}

{% block form_input_group %}
{% spaceless %}
    {% if attr.input_group is defined and attr.input_group is not empty %}
        {% set input_group = attr.input_group %}
    {% endif %}
    {% set input_group = input_group|default({}) %}
    {% if input_group is not empty %}
        {% set ig_size_class = '' %}
        {% if input_group.size is defined and input_group.size == 'large' %}
            {% set ig_size_class = ' input-group-lg' %}
        {% endif  %}
        {% if input_group.size is defined and input_group.size == 'small' %}
            {% set ig_size_class = ' input-group-sm' %}
        {% endif  %}
        <div class="input-group{{ ig_size_class }} {{ attr.class|default('') }}">
            {% if input_group.prepend is defined and input_group.prepend is not empty %}
                <span class="input-group-addon">{{ input_group.prepend|raw|parse_icons }}</span>
            {% endif %}
            {{ form_widget(form) }}
            {% if input_group.append is defined and input_group.append is not empty %}
                <span class="input-group-addon">{{ input_group.append|raw|parse_icons }}</span>
            {% endif %}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_input_group %}